@import "tailwindcss";

@layer base {
    *,
    ::before,
    ::after,
    ::backdrop,
    ::file-selector-button {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        border-width: 0;
    }
    
    /* Light */
    @font-face {
        font-family: "Manrope";
        src: url(./assets/fonts/Manrope-Light.ttf) format("truetype");
        font-weight: 300; /* Atau bisa menggunakan 'light' */
        font-style: normal;
        font-display: swap;
    }

    /* Regular */
    @font-face {
        font-family: "Manrope";
        src: url(./assets/fonts/Manrope-Regular.ttf) format("truetype");
        font-weight: normal;
        font-style: normal;
        font-display: swap;
    }

    /* Medium */
    @font-face {
        font-family: "Manrope";
        src: url(./assets/fonts/Manrope-Medium.ttf) format("truetype");
        font-weight: 500; /* Atau bisa menggunakan 'medium' */
        font-style: normal;
        font-display: swap;
    }

    /* Semibold */
    @font-face {
        font-family: "Manrope";
        src: url(./assets/fonts/Manrope-SemiBold.ttf) format("truetype");
        font-weight: 600; /* Atau bisa menggunakan 'semibold' */
        font-style: normal;
        font-display: swap;
    }

    /* Bold */
    @font-face {
        font-family: "Manrope";
        src: url(./assets/fonts/Manrope-Bold.ttf) format("truetype");
        font-weight: bold;
        font-style: normal;
        font-display: swap;
    }

    /* ExtraBold */
    @font-face {
        font-family: "Manrope";
        src: url(./assets/fonts/Manrope-ExtraBold.ttf) format("truetype");
        font-weight: 800;
        font-style: normal;
        font-display: swap;
    }

    h1 {
        font-size: theme("fontSize.2xl");
        font-weight: 500;
    }
    h2 {
        font-size: theme("fontSize.xl");
    }
    h3 {
        font-size: theme("fontSize.lg");
    }

    button {
        cursor: pointer;
    }

}
